<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Shop</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/shop.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/account.css">
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/checkout.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-links left-section">
            <a href="/">Home</a> 
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
        </div>

        <div class="nav-links right-section">
            <a href="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            <% if (typeof user !== 'undefined' && user) { %>
                <a href="/account" title="Account">
                    <i class="fa-solid fa-user"></i>
                </a>
            <% } else { %>
                <a href="/login">Sign In</a>
            <% } %>
        </div>
    </nav>

    <main class="content-wrapper">