<%- include('partials/header.ejs') %>

 <div class="container">
    
    <div style="margin-bottom: 30px;">
        <h1 style="margin-bottom: 5px;">Welcome, <%= user.displayName || 'user' %>!</h1>
    </div>

    <div class="account-layout">
        
        <aside class="account-sidebar">
            <nav class="account-menu">
                <a href="#orders" class="menu-item active">My Orders</a>
                <a href="#settings" class="menu-item">Account Settings</a>
                <div class="menu-separator"></div>
                <a href="/logout" class="menu-item logout-link">Log Out</a>
            </nav>
        </aside>
    </div>
</div>
        

<%- include('partials/footer.ejs') %>