<%- include('partials/header.ejs') %>

    <h1>Twój Koszyk</h1>

    <p>Aktualnie Twój koszyk jest pusty.</p>
    
    <div style="border: 1px dashed gray; padding: 20px; text-align: center; color: gray;">
        [Lista produktów w koszyku]
    </div>

    <br>
    <a href="/shop">Wróć do sklepu</a>

<%- include('partials/footer.ejs') %>