<%- include('partials/header.ejs') %>

<div class="login-container">
    <div class="login-card">
        <h2>Register</h2>

        <% if (typeof message !== 'undefined') { %>
            <div>
                <%= message %>
            </div>
        <% } %>

        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="txtUser" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="text" name="txtName" placeholder="Your name">
            </div>
            
            <div class="form-group">
                <input type="password" name="txtPwd" placeholder="Password">
            </div>

            <button type="submit"class="btn btn-primary">Create account</button>
        </form>

        <div class="register-link">
            <a href="/login">Go back</a>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>