:root {
    /* --background: #e5d7ff;
    --primary: #7841e6;
    --primary-hover: #5915bf;
    --dark-background: #212022;
    --darker-background: #0d0d0e; */
    --background: rgb(230, 233, 255);
    --primary-lighter: rgb(208, 206, 251);
    --primary: rgb(101, 93, 236);
    --primary-hover: rgb(70, 61, 234);
    --dark-background: #212022;
    --darker-background: #0d0d0e;
    --green: #28a745;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Reset */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Roboto, Arial;
    background-color: var(--background);
}


* {
    box-sizing: border-box;
}



.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--background);
}

/* ABOUT */

.about-text {
    margin-left: 20px;
}


.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    ;
}

.btn-secondary {
    background-color: var(--primary);
    padding: 10px;
    color: white;
}

.btn-secondary:hover {
    background-color: var(--primary-hover);
    ;
}

/* FOOTER */

/* Główny kontener stopki */
.site-footer {
    background-color: var(--dark-background);
    color: #ecf0f1;
    padding-top: 20px;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Stylizacja pojedynczej kolumny */
.footer-col {
    flex: 0 1 300px;
    min-width: 250px;
}

.footer-col h3 {
    color: #fff;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-col p {
    line-height: 1.6;
    color: #bdc3c7;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #bdc3c7;
    text-decoration: none;
    transition: color 0.3s, padding-left 0.3s;
}

.footer-col ul li a:hover {
    color: var(--primary-hover);
    padding-left: 5px;
}

/* Pasek na samym dole */
.footer-bottom {
    background-color: var(--darker-background);
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 20px;
}

footer {
    margin-top: auto;
    flex-shrink: 0;
}

.content-wrapper {
    flex: 1;
    width: 100%;
}