h1 {
    margin-left: 20px;
    margin-top: 40px;
    color: rgb(40, 40, 40);
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

/* 2. POJEDYNCZY KAFELEK PRODUKTU */
.product {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;

    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
    color: #333;
}

.product p {
    font-size: 0.9rem;
    margin: 0 0 15px 0;
}

.name {
    color: #989898;
    flex-grow: 1;
}

.price {
    margin-top: 0;
    font-weight: bold;
}

.product button {
    margin-top: 0;
    background-color: var(--primary);
    transition: background-color 0.3s;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.product button:hover {
    background-color: var(--primary-hover);
}

.product button:disabled {
    background-color: #eee;
    color: #bbb;
    cursor: not-allowed;
    border: 1px solid #bbb;
}


/* added product to cart success message */

.notification-bar {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-bar a {
    margin-left: 15px;
    text-decoration: underline;
    color: #155724;
    font-weight: 800;
}

.notification-bar a:hover {
    color: #0b2e13;
}